.footer {
   &__body {
      background-color: #000;
   }

   &__container {
   }

   &__top {
      @include adaptiv-value("padding-top", 100, 20, 1);
      @include adaptiv-value("padding-bottom", 100, 20, 1);
   }

   &__bottom {
      @include adaptiv-value("padding-top", 100, 20, 1);
      @include adaptiv-value("padding-bottom", 100, 20, 1);
   }

   &__logo {
      margin: 20px auto;
      text-align: center;
      @include adaptiv-value("width", 445, 200, 1);
      img {
         max-width: 100%;
      }
   }
}
.top-footer {
   display: flex;
   justify-content: space-between;
   @media (max-width: $md2+px) {
      justify-content: space-around;
      flex-wrap: wrap;
   }
   &__column {
      &_manager {
         flex: 0 1 300px;
         @media (max-width: $md3+px) {
            flex: 1 1 100%;
         }
      }
      &_blog {
         flex: 0 1 440px;
         padding: 0px 15px;
         @media (max-width: $md2+px) {
            order: 3;
            padding: 0;
            margin: 30px 0px 0px 0px;
         }
         @media (max-width: $md3+px) {
            flex: 1 1 100%;
         }
      }
      &_reviews {
         flex: 0 1 300px;
         @media (max-width: $md3+px) {
            flex: 1 1 100%;
            margin: 30px 0px 0px 0px;
         }
      }
   }

   &__title {
      @extend ._title;
      text-align: center;
      color: #fff;
      @include adaptiv-value("margin-bottom", 27, 15, 1);
   }

   &__body {
      display: flex;
   }

   &__item {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__inner {
   }

   &__avatar {
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      height: 100px;
      width: 100px;
      @include adaptiv-value("margin-bottom", 20, 15, 1);
      img {
      }
   }

   &__info {
      font-size: 18px;
      line-height: 21 / 18 * 100%;
      text-align: center;
      color: #ffffff;
      @include adaptiv-value("margin-bottom", 40, 30, 1);
   }

   &__button {
   }

   &__list {
   }

   &__list-item {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 18px;
      line-height: 100%;
      transition: all 0.3s ease 0s;
      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 18, 10, 1);
      }
      &::before {
         @include adaptiv-font(30, 24, 1);
         @include adaptiv-value("margin-right", 37, 15, 1);
      }
      @media (any-hover: hover) {
         &:hover {
            color: #c4c4c4;
         }
      }
   }

   &__reviews-body {
   }

   &__image {
      padding: 0px 0px 127/300 * 100% 0px;
      @include adaptiv-value("margin-bottom", 22, 15, 1);
   }

   &__text {
      font-size: 18px;
      line-height: 21 / 18 * 100%;
      color: #ffffff;
      @include adaptiv-value("margin-bottom", 22, 15, 1);
   }

   &__more {
   }
}
.bottom-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   @media (max-width: $md3+px) {
      flex-wrap: wrap;
      justify-content: center;
   }
   &__column {
      &:first-child {
         flex: 0 1 230px;
         margin-right: 30px;
         @media (max-width: $md3+px) {
            flex: 1 1 100%;
            margin: 0px 0px 30px 0px;
         }
      }
      &_form {
         flex: 0 1 860px;
         @media (max-width: $md3+px) {
            flex: 1 1 100%;
         }
      }
   }

   &__list {
      li {
         @media (max-width: $md3+px) {
            text-align: center;
         }
      }
   }

   &__link {
      font-size: 24px;
      line-height: 150%;
      color: #ffffff;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: #c4c4c4;
         }
      }
   }

   &__form {
      display: flex;
      align-items: center;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   &__label {
      font-size: 18px;
      line-height: 100%;
      color: #888888;
      margin: 0px 10px 0px 0px;
      @media (max-width: $md3+px) {
         text-align: center;
         margin: 0px 0px 15px 0px;
      }
   }

   &__input {
      min-height: 70px;
   }

   &__button {
      padding: 0px 40px;
      min-height: 70px;
      @media (any-hover: hover) {
         &:hover {
            background-color: #fff;
            color: #000;
         }
      }
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
      }
   }
}
