.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: rem(24);
    line-height: 100%;
    color: $white;
    background-color: $gray_01;
    min-height: rem(50);
    transition: background-color 0.3s ease 0s;
    &::before {
        font-size: rem(18);
        margin-right: rem(9);
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: $dark_01;
        }
    }
    &_white {
        min-width: rem(120);
        font-family: "Roboto Condensed";
        font-size: rem(18);
        line-height: 100%;
        color: $black;
        padding: 0px rem(10);
        background-color: $white;
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray_01;
            }
        }
    }
}
