input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    width: 100%;
    display: block;
    padding: 0px rem(15);
    min-height: rem(50);
    line-height: math.div(24, 18);
    color: $gray_02;
    background-color: $white;
    border: rem(2) solid $gray_01;
    &:focus-visible {
        outline-offset: rem(-2);
        outline: $dark_01 solid rem(2);
        color: $dark_01;
    }
    &._form-error {
        border: rem(2) solid red;
        color: red !important;
    }
}

.form__error {
    position: absolute;
    left: 0;
    color: red;
    font-size: rem(14);
    @media (min-width: $mobileSmall) {
        margin-top: rem(5);
        top: 100%;
    }
    @media (max-width: $mobileSmall) {
        bottom: 100%;
        margin-bottom: rem(5);
    }
}
