.footer {
    background-color: $black;
    &__container {
    }

    &__top {
        @include adaptiveValue("padding-top", 100, 40, 1200, 767.98, 1);
        @include adaptiveValue("padding-bottom", 100, 20, 1200, 767.98, 1);
    }

    &__bottom {
        @include adaptiveValue("padding-top", 100, 20, 1200, 767.98, 1);
        @include adaptiveValue("padding-bottom", 100, 40, 1200, 767.98, 1);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__logo {
        display: block;
        padding: rem(20) 0;
        width: 100%;
        text-align: center;
        background-color: $white;
        img {
            @include adaptiveValue("width", 445, 200, 1200, 479.98, 1);
        }
    }
}

.top-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: rem(30);
    }
    @media (max-width: em(600)) {
        gap: rem(50);
    }
    &__column {
        &_manager {
            flex: 0 1 rem(300);
            @media (max-width: $tablet) {
                flex: 0 1 calc(50% - rem(15));
            }
        }
        &_blog {
            flex: 0 1 rem(440);
            padding: 0px rem(15);
            @media (max-width: $tablet) {
                order: 3;
                padding: 0;
            }
        }
        &_reviews {
            flex: 0 1 rem(300);
            @media (max-width: $tablet) {
                flex: 0 1 calc(50% - rem(15));
            }
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
        }
    }

    &__title {
        @extend %title;
        text-align: center;
        color: $white;
        @include adaptiveValue("margin-bottom", 27, 20, 1200, 479.98, 1);
    }

    &__body {
        display: flex;
    }

    &__item {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inner {
    }

    &__avatar-ibg {
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        height: rem(100);
        width: rem(100);
        @include adaptiveValue("margin-bottom", 20, 15, 1200, 479.98, 1);
    }

    &__info {
        line-height: math.div(21, 18);
        text-align: center;
        color: $white;
        margin-bottom: rem(40);
        @include adaptiveValue("margin-bottom", 40, 20, 1200, 479.98, 1);
    }

    &__button {
    }

    &__list {
    }

    &__list-item {
        display: flex;
        align-items: center;
        color: $white;
        line-height: 100%;
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 18, 10, 1200, 479.98, 1);
        }
        &::before {
            @include adaptiveValue("font-size", 30, 24, 1200, 479.98, 1);
            @include adaptiveValue("margin-right", 37, 15, 1200, 479.98, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $gray_01;
            }
        }
    }

    &__reviews-body {
    }

    &__image {
        padding-bottom: percent(127, 300);
        margin-bottom: rem(22);
    }

    &__text {
        line-height: math.div(21, 18);
        color: $white;
        margin-bottom: rem(22);
    }

    &__more {
        @media (max-width: em(600)) {
            display: flex;
        }
    }
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
    @media (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__list {
        flex: 0 1 rem(230);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
        li {
            @media (max-width: $mobile) {
                text-align: center;
            }
        }
    }

    &__link {
        font-size: rem(24);
        line-height: 150%;
        color: $white;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gray_01;
            }
        }
    }

    &__body {
        flex: 0 1 rem(860);
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
            gap: rem(10);
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }
    &__label {
        flex: 0 0 rem(95);
        line-height: 100%;
        color: $gray_02;
        @media (max-width: $mobile) {
            text-align: center;
            margin: 0px 0px rem(30) 0px;
        }
    }
    &__form {
        flex: 1 1 auto;
        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__input {
        min-height: rem(70);
    }

    &__button {
        padding: 0px rem(40);
        min-height: rem(70);
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
