.header {
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: rem(2) solid $gray_01;
    }

    &__logo {
        text-align: center;
        padding: 0px rem(15);
        @include adaptiveValue("padding-top", 88, 15, 1200, 479.98, 1);
        @include adaptiveValue("padding-bottom", 60, 15, 1200, 479.98, 1);
        @include adaptiveValue("width", 392, 200, 1200, 479.98, 1);
        img {
            max-width: 100%;
        }
    }

    &__container {
    }
}
.menu {
    &__list {
        display: flex;
        border-right: rem(2) solid $gray_01;
        border-left: rem(2) solid $gray_01;
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            border-right: none;
        }
        li {
            flex: 0 1 25%;
            transition: background-color 0.3s ease 0s;
            &:not(:last-child) {
                border-right: rem(2) solid $gray_01;
            }
            @media (max-width: $mobileSmall) {
                flex: 0 1 50%;
                border-right: rem(2) solid $gray_01;
                border-bottom: rem(2) solid $gray_01;
            }
            @media (any-hover: hover) {
                &:hover {
                    background-color: $dark_01;
                    .menu__link {
                        color: $white;
                    }
                }
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include adaptiveValue("min-height", 100, 50, 1200, 479.98, 1);
        font-size: rem(24);
        line-height: math.div(28, 24);
        color: $gray_02;
        padding: rem(10) rem(15);
        transition: color 0.3s ease 0s;
    }
}
