.mainslider {
    &__body {
        position: relative;
    }

    &__slider {
    }

    &__slide-ibg {
        padding-bottom: percent(700, 1920);
        min-height: rem(250);
    }

    &__arrows {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
        display: flex;
        justify-content: space-between;
        padding: 0px rem(20);
        pointer-events: none;
        @media (max-width: $mobile) {
            padding: 0px rem(15);
        }
    }

    &__arrow {
        pointer-events: all;
        -webkit-tap-highlight-color: transparent;
        &::before {
            transition: color 0.3s ease 0s;
            @include adaptiveValue("font-size", 70, 30, 1200, 479.98, 1);
        }
        &:active {
            &::before {
                transition: color 0.1s ease 0s;
                color: $white;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: $white;
            }
        }
        &_prev {
            transform: rotate(-180deg);
        }

        &_next {
        }
    }

    &__container {
        @include adaptiveValue("padding-top", 60, 20, 1200, 479.98, 1);
        @include adaptiveValue("padding-bottom", 50, 0, 1200, 479.98, 1);
        @media (min-width: em(850)) {
            justify-content: center;
            align-items: center;
            display: flex;
            @include adaptiveValue("gap", 70, 30, 1200, 850, 1);
        }
    }

    &__label {
        max-width: rem(200);
        font-size: rem(24);
        line-height: 100%;
        color: $gray_02;
        margin-top: rem(15);
        margin-bottom: rem(20);
        @media (max-width: em(850)) {
            max-width: none;
            text-align: center;
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(30);
        }
    }

    &__form {
        position: relative;
        margin-bottom: rem(20);
        @media (min-width: $mobileSmall) {
            display: flex;
        }
    }

    &__input {
        @media (min-width: $mobileSmall) {
            min-height: rem(70);
        }
        @media (min-width: em(850)) {
            min-width: rem(430);
        }
    }

    &__btn {
        padding: 0px rem(23) 0px rem(9);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
        @media (min-width: $mobileSmall) {
            min-height: rem(70);
        }
    }
}

//========================================================================================================================================================

.popular {
    &__title {
        padding: rem(18) rem(15);
        background-color: $black;
        @include adaptiveValue("margin-bottom", 100, 20, 1200, 479.98, 1);
        @extend %title;
        line-height: math.div(64, 48);
        text-align: center;
        color: $white;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(25);
        @include adaptiveValue("margin-bottom", 150, 30, 1200, 479.98, 1);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 30, 15, 1200, 479.98, 1);
        @include adaptiveValue("margin-bottom", 50, 40, 1200, 479.98, 1);
    }

    &__image-ibg {
        padding-bottom: 100%;
        overflow: hidden;
        border-radius: 50%;
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__subtitle {
        flex: 1 1 auto;
        text-align: center;
        font-size: rem(24);
        line-height: 100%;
        color: $gray_02;
        max-width: rem(200);
        margin: 0 auto;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
    }

    &__button {
        margin: 0 auto;
        min-height: rem(50);
        width: rem(150);
        text-align: center;
    }
}

//========================================================================================================================================================

.about {
    @include adaptiveValue("margin-bottom", 100, 60, 1200, 479.98, 1);
    &__container {
        @media (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            gap: rem(30);
        }
    }

    &__column {
        @media (min-width: $tablet) {
            flex: 0 1 rem(500);
            display: flex;
            flex-direction: column;
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 60, 40, 1200, 479.98, 1);
            }
        }
    }
}

.column-about {
    &__body {
        flex: 1 1 auto;
    }

    &__row {
        display: flex;
        @include adaptiveValue("gap", 30, 15, 1200, 479.98, 1);
        margin-bottom: rem(20);
    }

    &__image {
        flex: 0 1 rem(100);
        min-width: rem(50);
        img {
            max-width: 100%;
        }
    }

    &__title {
        font-family: "PT Serif";
        @include adaptiveValue("font-size", 36, 24, 1200, 479.98, 1);
        line-height: 100%;
        color: $black;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gray_02;
            }
        }
    }

    &__text {
        line-height: math.div(24, 18);
        color: $black;
        @include adaptiveValue("margin-bottom", 40, 10, 1200, 479.98, 1);
    }

    &__more {
        display: flex;
        align-items: center;
        color: $gray_02;
        line-height: math.div(24, 18);
        span {
            text-decoration: underline;
        }
        &::before {
            color: $black;
            margin-right: rem(6);
            font-size: rem(30);
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    color: $gray_02;
                }
            }
        }
    }
}

//========================================================================================================================================================

.fullscreen {
    position: relative;
    &__bg-ibg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__container {
        padding: rem(70) 0;
        position: relative;
        z-index: 2;
        text-align: right;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__title {
        @extend %title;
        color: $white;
        margin-bottom: rem(15);
        @media (min-width: $mobile) {
            margin-left: auto;
            max-width: rem(500);
        }
    }

    &__button {
        background-color: $dark_01;
        min-height: rem(50);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0px rem(18);
        color: $white;
        transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
}
